.header__add, .header__delete {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.header {
  color: #171717;
  border-bottom: 1px solid #171717;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}
.header__logo {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header__buttons {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.header__add, .header__delete {
  border: 1px solid #171717;
  color: #171717;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  font-size: 13px;
}
.header__save {
  border: none;
  outline: none;
  background: none;
}

.main {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
.main__products {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.product {
  flex-basis: 22%;
  border: 1px solid #171717;
  color: #171717;
  padding-left: 2%;
  padding-right: 9%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin: 10px 20px;
  font-size: 13px;
}
.product__items {
  width: 150%;
  padding-left: 5%;
  text-align: center;
}

.main-add {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
.main-add__form {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-add__product, .main-add__type {
  padding-top: 15px;
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  gap: 0px;
  flex-wrap: nowrap;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-add__label {
  width: 90px;
}

.main-add__switcher {
  padding-top: 50px;
}

.switch__label {
  padding-right: 20px;
}

.footer {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  border-top: 1px solid #171717;
}
.footer__container {
  padding-top: 40px;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
}

a {
  text-decoration: none;
}